:root{
    --container-width: 60%;
    --section-padding: 50px 0;
}

/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* generics */
body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
}

ul{
    list-style: none;
}

.bordered{
    border: 2px dashed black;
}

.button{
    background-color: white;
    padding: 10px;
    border-radius: 30px;
}

p{
    font-size: 1.3rem;
}

.section-title{
    font-size: 4rem;
    margin-bottom: 30px;
}
/* header */

/* header navbar */
navbar.container{
    min-height: 100px;
    background-color: #255ee9;
}

.navbar-container{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}    

.navbar-container>*{
    display: flex;
    padding: 10px;
}

.header-logo > .logo{
    height: 2.5rem;
}

.header-link{  
    justify-content: center;
    flex-grow: 1;
    gap: 30px;
    font-size: 18px;
}

.header-link >.list-item{
    display: inline-block;
    margin: 0 5px;
}

.header-link >.list-item >a{
    text-decoration: none;
    color: white;
}

/* header introduction */
.jumbotron{
    min-height: 600px;
    padding: 60px;
    background-color: #255ee9;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.jumbotron-text{
    width: 45%;
    min-height: 400px;
}

.jumbotron h1{
    font-size: 4rem;
    line-height: 150px;
}

.jumbotron-text > p{
    font-size: 1.5rem;
    line-height: 30px;
}

.jumbotron-text > .button{
    display: inline-block;
    font-size: 20px;
    margin: 30px 10px;
    padding: 15px 30px;
}


.jumbotron-text >.button:first-of-type{
    color: black;
}

.jumbotron-text >.button:last-of-type{
    background-color: #23272a;
    
}

/* main */
.main>.container:nth-of-type(even){
    background-color: #d3d3d3;
}

.section-wrapper{
    width: 75%;
    padding: var(--section-padding);
    min-height: 600px;
    display: flex;

}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.main-image{
    height: 500px;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
    flex-basis: 23%;
}

.text-container>.section-title{
    font-size: 3rem;
}

.text-container>p{
    font-size: 1.3rem;
}

/* .wave:nth-of-type(even){
    transform: rotate(180deg);
}

.wave{
    display: block;
    color: #d3d3d3;
} */

.main>.container:nth-of-type(2)>.section-wrapper{
    flex-direction: row-reverse;
}

/*
.main-ending{
    width: 100%;
    min-height: 700px;
    background-color: #228b22;
}

footer

.page-footer{
    background-color: #23272a;
}

.footer-section{
    border-bottom: 2px solid #b4b4b3;
}

#info{
    padding-top: 10px
}

.footer-social{
    width: 30%;
    background-color: #f08080;
}

.footer-info{
    display: flex;
    width: 70%;
    background-color: #20b2aa;
}

.footer-links{
    width: 25%;
    border: 2px dashed white;
}


.footer-wrapper{
    width: var(--container-width);
    margin-top: 50px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    background-color: #7fffd4;
}

.footer-item{
    padding: 5px;
    background-color: #ffb6c1;
} 



