:root{
    --container-width: 60%;
    --section-padding: 50px 0;
}

/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* generics */
body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
}

ul{
    list-style: none;
}

.bordered{
    border: 2px dashed black;
}

.button{
    background-color: white;
    padding: 15px;
    border-radius: 30px;
}

p{
    font-size: 1.3rem;
}

.section-title{
    font-size: 3rem;
    margin-bottom: 30px;
}
/* header */

/* header navbar */
navbar.container{
    min-height: 100px;
    background-color: #255ee9;
}

.navbar-container{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}    

.navbar-container>*{
    display: flex;
    padding: 10px;
}

.header-logo > .logo{
    height: 2.5rem;
}

.header-link{  
    justify-content: center;
    flex-grow: 1;
    gap: 30px;
    font-size: 18px;
}

.header-link >.list-item{
    display: inline-block;
    margin: 0 5px;
}

.header-link >.list-item >a{
    text-decoration: none;
    color: white;
}

/* header introduction */
.jumbotron{
    min-height: 600px;
    padding: 60px;
    background-color: #255ee9;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.jumbotron-text{
    width: 45%;
    min-height: 400px;
}

.jumbotron h1{
    font-size: 4rem;
    line-height: 150px;
}

.jumbotron-text > p{
    font-size: 1.5rem;
    line-height: 30px;
}

.jumbotron-text > .button{
    display: inline-block;
    margin: 30px 10px;
    padding: 15px 30px;
    font-size: 20px;
}


.jumbotron-text >.button:first-of-type{
    color: black;
}

.jumbotron-text >.button:last-of-type{
    background-color: #23272a;
    
}

/* main */
.main>.container:nth-of-type(even){
    background-color: #f6f6f6;
}

.section-wrapper{
    width: 75%;
    padding: 100px 0;
    display: flex;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.main-image{
    height: 500px;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
    flex-basis: 23%;
}

.text-container>.section-title{
    font-size: 3rem;
}

.text-container>p{
    font-size: 1.3rem;
}

 .wave:nth-of-type(even){
    transform: rotate(180deg);
}

.wave{
    display: block;
    color: #f6f6f6
} 

.main>.container:nth-of-type(2)>.section-wrapper{
    flex-direction: row-reverse;
}

.main-ending{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 700px;
    padding: 50px;
    text-align: center;
}

.main-ending>p{
    padding: 0 150px;
}

.main-ending>.main-image{
    height: 800px;
    margin-bottom: 50px;
}

.main-ending>h3{
    width: 40%;
    background-image: url('../img/stars.svg');
    background-size: contain;
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 30px;
}

.main-ending>.button{
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #8ea1e1;
}


.footer{
    background-color: #23272a;
    padding: 80px;
}

.footer .section-wrapper:first-child{
    border-bottom: 2px solid #b4b4b3;
    padding-bottom: 20px;
}

.footer .section-wrapper{
    padding-top: 10px;
    display: flex;
    align-items: flex-start;
}

.footer-social{
    width: 30%;
    color: white;
}

.footer-social> *{
    margin-bottom: 30px;
}

.footer .footer-social>h3{
    color: #7188d8;
    font-size: 2.5rem;
}

.footer-social > .language{
    display: flex;
    align-items: center;
}

.footer-social>.language>img{
    height: 20px;
    margin-right: 5px;
}

.footer-social .social>*{
    font-size: 25px;
    margin-right: 20px;
}


.footer-info{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer-links{
    width: 25%;
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    
}

.lista-link>li{
    margin-bottom: 10px;
}

.footer-links>.lista-link>li:first-child{
    color: #7188d8;;
}

.footer-wrapper{
    width: 75%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.footer-logo>.footer-img{
    height: 40px;
}

.footer-button .button{
    background-color: #8ea1e1;
    color: white;
    font-weight: 600;
}


